@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFFFEE;
}

#noise {
  background-image: url(../public/noise.png);
  background-repeat: repeat;

  position: fixed;
  inset: 0;
  z-index: 50;
  pointer-events: none;
  opacity: 0.6;
}